<div class="bg-gray-900 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="-mx-6 grid grid-cols-2 gap-0.5 overflow-hidden sm:mx-0 sm:rounded-2xl md:grid-cols-3">
        
        <div class="bg-white/5 p-8 sm:p-10 cursor-pointer">
          <h1>{{ companyAboutInfo?.title }}</h1>
          <p>{{ companyAboutInfo?.about }}</p>
          <p>{{ companyAboutInfo?.address }}</p>
          <img [src]="companyAboutInfo?.photoUrl" alt="photo">
        </div>
      </div>
    </div>
  </div>